* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}


body {
  font-family: ui-sans-serif, system-ui, "Segoe UI", "Helvetica Neue", Arial;
}

.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}